<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Django APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2> Welcome to College </h2>
        <p> Here you can check the student records</p>
        <center><a href="/success" class="btn btn-primary">check</a></center>
    </div>

</body>
</html>