h1 {
    color: green;
}
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  font-family: sans-serif;
  color: #fff;
}
.container {
    width : 500px;
    margin: 50px auto;
    padding:50px;
}
